html, body, #appWrapper {
    height: 100%;
}

#appWrapper {
    background-image: url("./assets/images/b6.jpg");
    background-size: cover;
}

#content {
    flex: 1;
}

.child {
    padding: 25%;
}